# ide
.idea
.vscode/

# npm
node_modules
package-lock.json

# build output
/dist
/communicators
/interfaces
/managers
/serializers
/tests
/tools
/core.*
/helper.*
/objects.*
/_src/tests/test-server/dst

# temporarry folders for development
/_tmp
/package
/todos.txt
/coverage
