import { EventBase } from '${relativeToRoot}eventBase';
import { EventType, Type } from 'nanium/serializers/core';

@EventType({
	scope: '${scope}'
})
export class ${coreClassName}Event extends EventBase {
	static eventName: string = '${prefix}:${subPath}/${lastName}';

  // todo: define the events properties here
	// @Type(String) someProperty?: string;

	constructor(data: ${coreClassName}Event) {
		super();
		Object.assign(this, data);
	}
}
