import { EventBase } from '${relativeToRoot}eventBase';
import { EventType, Type } from 'nanium/objects';

@EventType({
	scope: '${scope}'
})
export class ${coreClassName}Event extends EventBase<${coreClassName}Event> {
	static eventName: string = '${prefix}:${subPath}${lastName}';

	// todo: define the events properties here
	@Type(String) someProperty: string;
}
