import { NaniumObject } from 'nanium/objects';

export class ServiceRequestHead extends NaniumObject<ServiceRequestHead> {
	user?: string;
	password?: string;
	token?: string;
	language?: string;
	timezone?: string;
}
