<section>
	<header>Request Tests</header>

	<h4>HTTP</h4>
	<button (click)="simple()">simple request / response</button>
	<button (click)="buffers()">request with buffers</button>
	<button (click)="objectResponseStream()">object response stream</button>
	<button (click)="objectResponseStreamPromise()">object response stream (promise)</button>
	<button (click)="binaryResponseStream()">binary response stream</button>
	<button (click)="unsubscribeWithoutParameters()">unsubscribe without parameters</button>

	<h4>Websockets</h4>
	<button (click)="wsSimple()">simple request / response</button>
	<button (click)="wsBufferResponse()">response as buffer</button>
</section>

<section>
	<header>Event Tests</header>

	<app-events-test></app-events-test>
</section>
